.article-content {
    padding-top: 76px;
    padding-bottom: 99px;
    background-color: $coral;
}

.article-content__list {
    position: relative;
    z-index: 1;
    @include un-style;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    &::before{
        position: absolute;
        z-index: 1;
        top: -54px;
        left: -277px;
        width: 25%;
        height: 200px;
        display: inline-block;
        background-image: url(../../img/ready-oval.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50%);
        content: '';
    }

}
.article-content__list-item-head {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color:$state;
}
@include media(634px){
    .article-content__list{
        flex-direction: column;
    }
    .article-content__list-item-head{
        margin-bottom: 24px;
    }
}
@include media{
    .article-content__list-item-head{
        margin: 0 auto; 
        margin-bottom: 24px;
        width: 327px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
}