.meet-the-drecteros-list {
    width: 100%;
    @include un-style;
    justify-content: center;
    max-width: 1415px;
    flex-wrap: wrap;
    margin: 0 auto;
    &::after{
        display: block;
        margin-right: -343px;
        width: 96%;
        height: 100px;
        background-image: url(../../img/directors-bg-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50% + 632px);
        content: '';
    }
}
.meet-the-drecteros-list__item {
    position: relative;
    z-index: 1;
    padding: 35px 127px 56px 122px;
    background-color: $state;
    margin-right: 30px;
    width: 446px;
    min-height: 165px;
    perspective: 1000px;
    text-align: center;
    &:nth-of-type(1){
        margin-bottom: 76px;
    }
    &:nth-of-type(3){
        margin-right: 0;
        margin-bottom: 76px;
    }
    &:nth-of-type(2){
        margin-bottom: 76px;
    }
    &:nth-of-type(6){
        margin-right: 0;
    }
}
.meet-the-drecteros-list__item-front{
    backface-visibility: hidden;
    transition: transform 0.3s ease;
}
.meet-the-drecteros-list__item--visual   
.meet-the-drecteros-list__item-front {
    transform: rotateY(180deg);

}
.meet-the-drecteros-list__item-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $rapture
}
.meet-the-drecteros-list__item-page {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}
.meet-the-drecteros-list__item-back{
    padding: 35px 59px 75px 59px;
    position: absolute;
    z-index: 1;
    top: 1px;
    right: calc(50% - 226px);
    transition: transform 0.3s ease;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: $dark;
    overflow: auto;
}
.meet-the-drecteros-list__item--visual
.meet-the-drecteros-list__item-back {
    transform: rotateY(360deg);
}

.meet-the-drecteros-list__item-button {
    position: absolute;
    z-index: 1;
    left: 190px;
    bottom: -28px;
    transition: transform 0.4s ease;
    width: 56px;
    height: 56px;
    background-image: url(../../img/plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.meet-the-drecteros-list__item--visual
.meet-the-drecteros-list__item-button {
    background-image: url(../../img/minus.svg);
    transform: rotate(90deg);
    
}

.meet-the-drecteros-list__item-back-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $rapture;
}
.meet-the-drecteros-list__item-back-page {
    width: 254px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    text-align: center;
}
.meet-the-drecteros-list__item-back-list {
    @include un-style;
    justify-content: center;
    align-items: center;
}
.meet-the-drecteros-list__item-back-list-item {
    &:not(:last-child){
        margin-right: 16px;
    }
}
.meet-the-drecteros-list__item-back-list-item-link {
    text-decoration: none;
}
@include media(1595px){
    .meet-the-drecteros-list{
        &::after{
            width: 70%;
            background-position: calc(50% + 270px);
        }
    }
}
@include media(1094px){
    .meet-the-drecteros-list{
        &::after{
            width: 64%;
            background-position: calc(50% + 112px);
        }
    }
    .meet-the-drecteros-list__item{
        &:nth-last-of-type(3){
            margin-bottom: 76px;
        }
        &:nth-last-of-type(4){
            margin-right: 30px;
        }
        
        &:last-child{
            margin-right: 30px;
        }
    }
}
@include media(951px){
    .meet-the-drecteros-list{
        position: relative;
        z-index: 1;
        &::after{
            position: absolute;
            z-index: 1;
            top: 101%;
            width: 36%;
            background-position: calc(50% + 8px);
        }
    }
    .meet-the-drecteros-list__item{
        &:nth-of-type(5){
            margin-bottom: 76px;
        }
    }

}
@include media(530px){
    .meet-the-drecteros-list{
        &::after{
            left: 270px;
        }
    }

}
@include media{
    .meet-the-drecteros-list__item{
        width: 279px;
        padding: 32px 24px 56px 24px;
    }
    .meet-the-drecteros-list__item-button{
        left: 115px;
    }
    .meet-the-drecteros-list__item-back{
        padding: 32px 0px 78px 0px;
        right: calc(50% - 160px);
    }
    .meet-the-drecteros-list__item-back-page{
        width: 234px;
    }
}
@include media (432px){
    .meet-the-drecteros-list{
        &::after{
            left: 212px;
        }
    }
}
@include media (340px){
    .meet-the-drecteros-list{
        &::after{
            display: none;
        }
    }
}


