.meet-the-drecteros {
    padding-top: 1px;
    background-color: $depp;
}
.meet-the-drecteros__head {
    margin-top: 0;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    &::before{
        display: inline-block;
        width: 100%;
        height: 200px;
        background-image: url(../../img/oval-meet.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position:calc(50% - 742px) ;
        content: '';
    }
}
@include media(950px){
    .meet-the-drecteros{
        padding-bottom: 116px;
    }
    .meet-the-drecteros__head{
        &::before{
            background-position:calc(50% - 373px) ;
        }
    }
}
@include media (630px){
    .meet-the-drecteros__head{
        &::before{
            background-position:calc(50% - 229px) ;
        }
    }
}
@include media{
    .meet-the-drecteros__head{
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }
    .meet-the-drecteros__head{
        &::before{
            background-position:calc(50% - 136px) ;
        }
    }
}