.site-wrraper-list {
    @include un-style;
    align-items: center;
    &--footer{
        margin-right: auto;
        display: block;
    }
}
.site-wrraper-list__item {
    margin-left: 40px;
    &:nth-of-type(1){
    margin-left: 0;
    margin-right: 80px;
    }
    &:nth-of-type(2){
        margin-left: 0;
    } &:nth-of-type(3){
        display: none;
    }
    &--footer{
        margin-left: 0;
        &:nth-of-type(1){
            margin-right: 0;
        }
        &:nth-of-type(2){
            display: inline-block;
        }
        &:nth-of-type(3){
            display: inline-block;
            margin-left: 40px;
        }
    }
}
.site-wrraper-list__item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
.site-wrraper-list__item-link-img {
    display: block;
}
.site-wrraper-list__button{
    display: none;
}
@include media{
    .site-wrraper-list{
        display: none;
        justify-content: space-between;
        &--footer{
            display: block;
            margin-left: auto;
            align-items: center;
        }
    }
    .site-wrraper-list__item{
        &:nth-of-type(3){
           display: block;
        }
        &--footer{
            &:nth-of-type(3){
                display: inline-block;
                margin-left: 24px;
            }
        }
    }
    .site-wrraper-list__button{
        width: 20px;
        height: 17px;
        background-image: url(../../img/burger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        border: none;
        background-color: transparent;
    }
    .site-wrraper-list--open{
        padding-top: 120px;
        padding-bottom: 475px;
        padding-left: 48px;
        margin-left: auto;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 80px;
        background-color: $police;

    }
    
        
}