.site-main__section{
    padding-top: 130px;
    background-color: $mdinight;
    &::after{
        display: inline-block;
        width: 100%;
        height: 200px;
        bottom: 0;
        background-image: url(../../img/disk-red.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50% + 642px);
        content: '';
    }
    
}
.site-main__wrraper{
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.site-main__head {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
}
.site-main__page {
    margin: 0;
    width: 730px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    &::before{
        margin-bottom: 40px;
        display: block;
        width: 50px;
        border-top: 4px solid $coral; 
        content: '';
    }
}
@include media(934px){
    .site-main__wrraper{
        text-align: center;
        flex-direction: column;
    }
    .site-main__section{
        &::after{
            background-position: calc(50% + 364px);
        }
    }
}
@include media(742px){
    .site-main__section{
        &::after{
            background-position: calc(50% + 228px);
        }
    }
    .site-main__page{
        position: relative;
        z-index: 1;
        width: 547px;
        margin: 0 auto;
    }
}
@include media(550px){
    .site-main__page{
        width: 327px;
    }
    .site-main__section{
        &::after{
            background-position: calc(50% + 200px);
        }
}
@include media{
    .site-main__head{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .site-main__page{
        text-align: center;
        z-index: 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
    }
    .site-main__section{
        &::after{
            background-position: calc(50% + 140px);
        }
}
@include media (312px){
    .site-main__page{
        &::after{
            display: none;
        }
    }
}

}
}